h1{color: rgb(226, 157, 28)
}
h1{font-size: 5vw;}
h1{text-align: center;}

h2{font-size: 40px;}
h2{text-align: center;}
h2{color: rgb(226, 157, 28);}



li{color: rgb(32, 131, 32)
}
li{text-align: center;}
li {list-style:none;}
li{font-size: 2vw;}
li{align-items: center;}


.container{
    font-size: 5vw;
}


.alinear-centro{
    text-align: center;
    }

body{background-image: url("FONDO.jpg");

background-repeat: no-repeat;

background-size:cover
}


.hover:hover{
background: rgb(224, 178, 200);
}







header {
    grid-area: header;
    justify-content: stretch;
}

aside {
    grid-area: aside;
}


article {
grid-area: article;
}


footer{
    grid-area: footer;
}

#main, header, aside, article, footer, div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
    justify-self: center;
}








@media screen and (min-width: 320px) 
{
    #main
     grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "header""aside""footer"

}



header {
    grid-template-columns: auto;
    grid-template-rows: auto;
align-content: center;
font-size: 5vw;
}



div {
    align-self: center;
}
    

article {
    align-self: center;
}
    

aside {
    grid-template-columns: auto;
    grid-template-rows: auto; 
    text-align: center;
    align-items: center;
}


footer {
    grid-template-columns: auto;
    grid-template-rows: auto;
    text-align: center;
    align-items: center;

}






